*.orig
*.rej
*.sw[p-z]
*~
/*/*/work
/*/*/work-*
/*/Makefile
/INDEX-[0-9]*
/Makefile
/Templates
/Tools
/distfiles
/packages
/security/vuxml/vuln-flat.xml
CHANGES
GIDs
MOVED
Makefile.local
Mk/Features
Mk/Scripts
Mk/Wrappers
Mk/bsd.ccache.mk
Mk/bsd.commands.mk
Mk/bsd.default-versions.mk
Mk/bsd.destdir.mk
Mk/bsd.gcc.mk
Mk/bsd.gecko.mk
Mk/bsd.java.mk
Mk/bsd.licenses.db.mk
Mk/bsd.licenses.mk
Mk/bsd.local.mk
Mk/bsd.local.mk
Mk/bsd.ocaml.mk
Mk/bsd.options.desc.mk
Mk/bsd.options.mk
Mk/bsd.port.mk
Mk/bsd.port.options.mk
Mk/bsd.port.post.mk
Mk/bsd.port.pre.mk
Mk/bsd.port.subdir.mk
Mk/bsd.sanity.mk
Mk/bsd.sites.mk
Mk/bsd.wx.mk
UIDs
UPDATING
